<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.sikim.suinproject.mapper.BookshelfMapper">
    <resultMap id="ShelfMap" type="co.kr.sikim.suinproject.domain.Bookshelf">
        <id     column="bookshelf_id"        property="bookshelfId"/>
        <result column="user_id"             property="userId"/>
        <result column="created_datetime"    property="createdDatetime"/>
    </resultMap>

    <select id="selectBookshelfById" resultMap="ShelfMap">
        SELECT bookshelf_id, user_id, created_datetime
        FROM bookshelf bs
        WHERE bs.user_id = #{userId}
    </select>

    <select id="countShelfItems" resultType="int">
        SELECT
            COUNT(*)
        FROM
            shelf_book
        WHERE
            bookshelf_id = #{bookshelfId}
    </select>

    <select id="existBookshelfById" resultType="boolean">
        SELECT
            EXISTS(
                SELECT 1 FROM bookshelf WHERE bookshelf_id = #{bookshelfId}
            )
    </select>
</mapper>