<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.sikim.suinproject.mapper.ShelfItemMapper">
    <resultMap id="ShelfItemMap" type="co.kr.sikim.suinproject.domain.ShelfItem">
        <id     column="shelf_book_id" property="shelfBookId"/>
        <result column="bookshelf_id" property="bookshelfId"/>
        <result column="book_id" property="bookId"/>
        <result column="added_datetime" property="added_datetime"/>
        <result column="modified_datetime" property="modifiedDatetime"/>
    </resultMap>

    <insert id="insertShelfItem" parameterType="co.kr.sikim.suinproject.domain.ShelfItem">
        INSERT INTO shelf_book (bookshelf_id, book_id)
        VALUES (#{bookshelfId}, #{bookId})
    </insert>

    <update id="updateShelfItem" parameterType="co.kr.sikim.suinproject.domain.ShelfItem">
        UPDATE shelf_book
        <set>

        </set>
        WHERE shelf_book_id = #{shelfBookId}
    </update>

    <delete id="deleteShelfItemById">
        DELETE FROM shelf_book WHERE shelf_book_id = #{shelfBookId}
    </delete>

    <select id="existShelfItemById" resultType="boolean">
        SELECT EXISTS(
            SELECT 1 FROM shelf_book
            WHERE bookshelf_id = #{bookshelfId}
            AND book_id = #{bookId}
        )
    </select>

    <select id="countShelfItemsByBookshelfId" resultType="int">
        SELECT
            COUNT(*)
        FROM
            shelf_book
        WHERE
            bookshelf_id = #{bookshelfId}
    </select>

    <select id="selectShelfItemsByShelfId" resultMap="ShelfItemMap">
        SELECT
            shelf_book_id, bookshelf_id, book_id, added_datetime, modified_datetime
        FROM
            shelf_book
        WHERE
            bookshelf_id = #{bookshelfId}
        ORDER BY
            shelf_book_id DESC
    </select>

    <select id="selectShelfItemById" resultMap="ShelfItemMap">
        SELECT
            shelf_book_id, bookshelf_id, book_id, spine_width, added_datetime, modified_datetime
        FROM
            shelf_book
        WHERE
            shelf_book_id = #{shelfBookId}
    </select>
</mapper>